[Unit]
Description=Reports status and sensor readings over MQTT and openHAB REST
Requires=networking.service
Wants=network-online.target
After=network.target network-online.target

[Service]
WorkingDirectory=/srv/sensorReporter
User=sensorReporter
Type=simple
ExecStart=/srv/sensorReporter/bin/python sensor_reporter.py sensor_reporter.yml
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
