[Unit]
Description=Reports status and sensor readings over MQTT and REST

[Service]
Type=simple
ExecStart=/opt/sensorReporter/sensorReporter.py /opt/sensorReporter/sensorReporter.ini
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

